.App {
    font-family: Helvetica, Verdana, Georgia, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-flow: column;

    * {
        box-sizing: border-box;
    }
}
.metadata-container {
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-heading-container {
    display: flex;
    flex-flow: column;

    .heading-description {
        margin: 0.25rem 0 0 0;
        padding: 0;
    }
}

.contact-info-container {
    color: #ffffff;
    margin-right: 2rem;

    .contact-info-list {
        display: flex;
        flex-flow: row nowrap;
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-size: 0.875rem;

        .contact-info-item {
            margin: 0.15rem 1rem;
            font-size: 1.5rem;
            font-weight: 700;
            height: 6rem;
        }
    }
}

.skills-container {
    background-color: transparent;
}

.introduction-tag-line {
    font-size: 1rem;
}

.introduction-text {
    display: flex;
    flex-flow: column;
    margin: 0;
    font-size: 1.25rem;
}

.introduction-tag-line {
    margin-top: 0.5rem;
}

.skills-details-text,
.skills-details-text-heading {
    padding: 1.5rem 0.5rem;
    margin: 2rem;
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: 700;
    color: #ffffff;
}
.about-me-text {
    padding: 0.5rem;
    margin: 0.5rem 2rem;
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
}

.code-sample-text-explanation {
    padding: 0.5rem 2.5rem;
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;

}

    


